body{
    background: #ebf527;
    font-family: "Playwrite AU QLD", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.nav_inicio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.logo_inicio{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    
}
.logo_inicio img{
    opacity: 10.5;
}
.menu_inicio{

}
a{
    text-decoration: none;
    color: #ffffff;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-decoration: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
button{
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    max-width: 200px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 30px;
    border-color: white;
    margin-bottom: 10px;
}
button:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
    max-width: 300px;
}

button:active{
    letter-spacing: 3px;
    background-color: hsl(261deg, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.titulos{
    text-align: center;
}

.titulos h1{
    color: #f5274d;
}
.titulos h2{
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imagen_box{
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.huggy_img{
    width: 200px;
    height: auto;
}

.music_img{
    width: 400px;
    height: auto;
}
.champi3_img{
    width: 330px;
    height: auto;
}

.hongonv_img{
    width: 210px;
    height: auto;
}

.champi1_img{
    width: 200px;
    height: auto;
}

.champi2_img{
    width: 200px;
    height: auto;
}
.poke_img{
    width: 200px;
    height: auto;
}
.redes_face{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes_face img{
    width: 100px;
    height: auto;
}
/*.redes-insta{
  position: absolute;
  bottom: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}*/
.redes-insta:hover{
    transform: scale(1.1);
}
.btn_compra{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #273cf5;
    color: #f5f227;
    box-shadow: 4px, 4px, 4px, 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(-45deg, rgba(#273cf5))2% rgba(106, 17, 147, 1) 100%;
}

.mimic{
    width: 200px;
    height: auto;
}

.jackie{
    width: 200px;
    height: auto;
}
.masc-fnaf{
    width: 200px;
    height: auto;
}
.perro_mimic2{
    width: 200px;
    height: auto;
}
.pica_img{
    width: 200px;
    height: auto;
}
.boton_menu{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #273cf5;
    color: #f5f227;
    box-shadow: 4px, 4px, 4px, 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(-45deg, rgba(#273cf5))2% rgba(106, 17, 147, 1) 100%;
}
.boton_menu :hover{
    color: white;
}
/*.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}
a{
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: white;
    color:#3498db ;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    align-items: center;
}
bot:hover{
    background-color: #2980b9;
    color: white;
}*/
img{
    transition: 0.5s;
    display: inline-block;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: filter 0.5s box-shadow 0.5s transform 0.5s;
}
img:hover{
    opacity: 0.7;
    filter: grayscale(50%);
    transform: rotate(2deg);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);

}
footer{
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 20px 40px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/Ruido.png);
}

.footer-logo{
 /*  max-width: 150px;
    margin-bottom: 10px; */
    max-width: 150px;
    margin: 0 auto 10px auto;
    display: block;
}
.copyright{
    font-size: 14px;
    color: #bbb;
}
