body{
    background: #f3f48f;

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.imagen_box{
    width: 200px;
    height: auto;
}

.huggy_img{
    width: 200px;
    height: auto;
    
}

.music_img{
    width: 200px;
    height: auto;
}

.hongonv_img{
    width: 210px;
    height: auto;
}

.champi1_img{
    width: 200px;
    height: auto;
}

.champi2_img{
    width: 200px;
    height: auto;
}

.redes_face img{
    width: 100px;
    height: auto;
}

.btn{
    cursor: pointer;
}