body{
    background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
    color: white;
    text-align: center;
    font-family: Arial;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1{
    margin-top: 40px;
    font-size: 40px;
}

.contacto{
    margin-top: 50px;
}

.btn{
    display: block;
    margin: 20px auto;
    width: 250px;
    padding: 15px;
    background: #6a00ff;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover{
    background: #9d4dff;
    transform: scale(1.05);
}
.botones-volver{
    margin-top: 20px;
}

.btn-volver{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-volver:hover{
    background: purple;
}
footer{
    background: #1f2c3a;
    padding: 60px 20px;
    text-align: center;
    color: white;
    background-image: url(img/Ruido.png);
}
.footer-contenido{
    max-width: 900px;
    margin: auto;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
}
.footer-titulo{
    font-size: 24px;
    margin: 10px 0;
}

.copyright{
    font-size: 14px;
    color: #ccc;
    margin-bottom: 40px;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.redes img{
    width: 80px;
    transition: 0.3s;
}

.redes img:hover{
    transform: scale(1.2);
}
img{
    transition: 0.5s;
    display: inline-block;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: filter 0.5s box-shadow 0.5s transform 0.5s;
}
img:hover{
    opacity: 0.7;
    filter: grayscale(50%);
    transform: rotate(2deg);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);

}
