body{
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.titulo{
    margin: 20px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.galeria img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria img:hover{
    transform: scale(1.1);
}
.botones-volver{
    margin-top: 20px;
}

.btn-volver{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-volver:hover{
    background: purple;
}