body{
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.titulo{
    margin: 20px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.galeria img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria img:hover{
    transform: scale(1.1);
}
.botones-volver{
    margin-top: 20px;
}

.btn-volver{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-volver:hover{
    background: purple;
}
footer{
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 20px 40px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/Ruido.png);
}
img{
    transition: 0.5s;
    display: inline-block;
    margin: 20px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.3);
    transition: filter 0.5s box-shadow 0.5s transform 0.5s;
    overflow-clip-box: content-box;
    overflow: clip;
}
img:hover{
    opacity: 0.7s;
    filter: grayscale(50%);
    transform: rotate(2deg);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
.redes-face{
    width: 100px;
    height: auto;
}