*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja2{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: blue;
    text-decoration: underline;
}
.logo-menu{
    width: 200px;
    height: auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #222;
    color: white;
}
.pedidos{
    text-align: center;
    margin-top: 50px;
}
.pedidos h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.form-pedidos{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
input, textarea , select{
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}
textarea{
    resize: none;
    height: 100px;
}
button{
    background: purple;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover{
    background: violet;
    transform: scale(1.05s);
}
footer{
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 20px 40px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/Ruido.png);
}
.footer-logo{
    max-width: 150px;
    margin: 0 auto 10px auto;
    display: block;
}
.copyright{
    font-size: 14px;
    color: #bbb;
}
.redes_face img{
    width: 100px;
    height: auto;
}
.redes_face{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}