body{
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.sobre-mi{
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
}

.foto{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.volver a{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background: purple;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
footer{
    background: #1f2c3a;
    padding: 60px 20px;
    text-align: center;
    color: white;
    background-image: url(img/Ruido.png);
}
.footer-contenido{
    max-width: 900px;
    margin: auto;
}

.footer-logo{
    width: 120px;
    margin-bottom: 10px;
}

.footer-titulo{
    font-size: 24px;
    margin: 10px 0;
}

.copyright{
    font-size: 14px;
    color: #ccc;
    margin-bottom: 40px;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.redes img{
    width: 80px;
    transition: 0.3s;
}

.redes img:hover{
    transform: scale(1.2);
}